@model IEnumerable<SmartApp4.Models.Trucks>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TruckStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TruckPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TruckStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TruckPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrucksKey }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrucksKey }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrucksKey })
        </td>
    </tr>
}

</table>
