@model SmartApp4.Models.DriverTransactions

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Asssigning a Driver to Job</h4>
    <hr />
    @Html.Label("", (string)ViewBag.message, new { style = "color:#ff0000" })

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UserDetailsKey, "UserDetailsKey", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("UserDetailsKey", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserDetailsKey, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TransactionsKey, "Job Number", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("TransactionsKey", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TransactionsKey, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
